*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Box-container
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 12px;
    margin: 23px;
}
.Articles1
{
    
    width: min-content;
    border: 1px solid black;
    display: grid;
}
.line
{
    border-bottom: 1px solid black;
}
.info
{
    padding: 13px;
    display: grid;
    gap: 26px;
}
.image
{
    display: grid;
    grid-area: 2 / 3;
}
.reverse
{
    grid-area: 1 / 3;
}
.footer
{
    display: grid;
    grid-template-columns: auto auto;
}
button
{
    padding: 9px;
    background-color: brown;
    border: none;
    color: white;
    /* width: 175%; */
    border-radius: 6px;
}
body
{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}
h2
{
    text-align: center;
}
.container 
{
    padding: 12px;
    display: grid;
    justify-content: center;
}
@media only screen and (min-width:300px) and (max-width:600px) 
{
.Box-container
    {
        grid-template-columns: auto;
    }

.image
    {
    grid-area:unset;
    }
.info
    {
    grid-area:unset;
    }
}
@media only screen and (min-width:600px) and (max-width:900px) 
{
.Box-container
    {
        grid-template-columns: auto;
    }

.image
    {
    grid-area:unset;
    }
.info
    {
        grid-area: 1 / 2;
        width: 350px;
    }
}
@media only screen and (min-width:900px) and (max-width:1281px) 
{
.Box-container
    {
        grid-template-columns: auto auto;
    }
.image
{
    grid-area: 1 / 2;
}
.info
{
    grid-area: 3 / 2;
}
.info1
{
    grid-area: unset;
}
}

